<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .form-inline .input-group {
            width: auto;
        }
        .punch .badge {
          display: none;
        }
        .punch:hover > .badge {
          display: inline-block;
        }
    </style>

    <title>Timesheet</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" aria-label="main navigation">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" href="/">
            Timesheet
          </a>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a href="" class="nav-link">Timesheet</a>
                </li>
            </ul>

            <form class="form-inline" method="POST">
                <label class="sr-only" for="datetime">Date/Time</label>
                <div class="input-group mb-2 mr-2">
                  <input type="datetime-local" class="form-control" id="datetime" placeholder="Date/Time" name="datetime">
                </div>
              
                <button type="submit" class="btn btn-primary mb-2">
                    <i class="fa fa-plus"></i>
                    <span>Add</span>
                </button>
            </form>

            <div class="d-flex justify-content-end align-items-center">
                <!-- logged -->
                    <span class="navbar-text mr-2"><small>{{email}}</small></span>
                    <span class="navbar-text mr-2"><small>Total balance: {{timesheet.balance|dur-str}}</small></span>
                    <span class="navbar-text mr-2"><small>Possible departure: {{possible-departure|time-str}}</small></span>
                    <a rel="nofollow" data-method="delete" class="btn btn-outline-light btn-sm" href="" role="button">
                        <span class="icon">
                            <i class="fa fa-user-times"></i>
                        </span>
                    <span>Sign out</span>
                    </a>
                    <!-- unlogged -->
                    <a class="btn btn-outline-light btn-sm" href="" role="button">
                          <span class="icon">
                            <i class="fa fa-user"></i>
                          </span>
                      <span>Sign in</span>
                    </a>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            {%for month in months%}
              <a class="nav-link{%if forloop.first%} active{%endif%}" data-toggle="pill" href="#v-pills-{{month}}" role="tab" aria-controls="v-pills-{{month}}" aria-selected="{%if forloop.first%}true{%else%}false{%endif%}">{{month}}</a>
            {%endfor%}
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content">
            {%for month, month-data in timesheet.months%}
              <div class="tab-pane fade{%if forloop.first%} show active{%endif%}" id="v-pills-{{month}}" role="tabpanel">
                <table class="table table-hover table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Day</th>
                            <th>Punches</th>
                            <th>Worked</th>
                            <th>Left</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for day, day-data in month-data.days%} 
                        <tr class="punch {%if day-data.review%}table-warning{%endif%}{%if day-data.not-calculated%}table-secondary{%endif%}" >
                            <td>{{day}}</td>
                            <td>
                              {%for punch in day-data.punches%}
                              <span class="punch">
                                {{punch}} <a href="/timesheet/remove?datetime={{month}}-{{day}}T{{punch}}" class="badge badge-pill badge-danger">X</a>
                              </span>{%endfor%}
                            </td>
                            <td>{{day-data.worked|dur-str}}</td>
                            <td>{{day-data.left|dur-str}}</td>
                            <td>{{day-data.balance|dur-str}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr class="table-dark">
                            <td colspan="5" class="text-right"><strong>Month balance: {{month-data.balance|dur-str}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
              </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        function setDateTime() {
          var today = new Date();
          var day = String(today.getDate()).padStart(2, '0');
          var month = String(today.getMonth() + 1).padStart(2, '0');
          var year = today.getFullYear();
          var hours = String(today.getHours()).padStart(2, '0');
          var minutes = String(today.getMinutes()).padStart(2, '0');
          var date = year + "-" + month + "-" + day;
          var time = hours + ":" + minutes;

          $('#datetime').val(date + "T" + time + ":00");
        }
        setDateTime();
        setInterval(setDateTime, 60 * 1000);
    </script>
  </body>
</html>